---
title: Cálculos
introduction: >
  Os cálculos são como a Sass representa a função `calc()`, bem como funções parecidas como `clamp()`, `min()`, e `max()`. A Sass simplificará estas o quanto for possível, mesmo se forem combinadas com uma outra.
---

<% impl_status dart: '1.40.0', libsass: false, ruby: false do %>
  A LibSass, Sass de Ruby, e versões de Sass de Dart anteriores a 1.40.0 analisam a `calc()` como uma [função especial][special function] como `element()`.

  A LibSass, Sass de Ruby, e versões de Sass de Dart anteriores a 1.31.0 analisam `clamp()` como uma [função de CSS simples][plain CSS function] ao invés de suportar sintaxe especial dentro dela. As versões da Sass de Dart entre 1.31.0 e 1.40.0 analisam a `clamp` como uma [função especial][special function] como `element()`.

  [plain CSS function]: ../at-rules/function#plain-css-functions
  [special function]: ../syntax/special-functions#element-progid-and-expression
<% end %>

<% example(autogen_css: false) do %>
  @debug calc(400px + 10%); // calc(400px + 10%)
  @debug calc(400px / 2); // 200px
  @debug min(100px, calc(1rem + 10%)); // min(100px, 1rem + 10%)
  ===
  @debug calc(400px + 10%)  // calc(400px + 10%)
  @debug calc(400px / 2)  // 200px
  @debug min(100px, calc(1rem + 10%) ; // min(100px, 1rem + 10%)
<% end %>

Os cálculos usam uma sintaxe especial que é diferente da SassScript normal. É a mesma sintaxe da `calc()` de CSS, mas com habilidade adicional para usar [variáveis de Sass][Sass variables] e chamar [funções de Sass][Sass functions]. Isto significa que `/` é sempre um operador de divisão dentro dum cálculo!

[Sass variables]: ../variables
[Sass functions]: ../modules

<% fun_fact do %>
  Os argumentos para uma chamada de função de Sass usam a sintaxe de Sass normal, ao invés da sintaxe de cálculo especial!
<% end %>

Tu podes também usar a [interpolação][interpolation] num cálculo. No entanto, se fizeres, nada dentro dos parênteses que envolve esta interpolação será simplificado ou verificado o seu tipo, assim é fácil terminar com CSS verboso a mais ou mesmo inválido. No lugar de escrever `calc(10px + #{$var})`, apenas escreva `calc(10px + $var)`!

[interpolation]: ../interpolation

<span id="simplification"></span>
## Simplificação

A Sass simplificará as operações adjacentes nos cálculos se usarem unidades que podem ser combinadas em tempo de compilação, tais como `1in + 10px` ou `5s * 2`. Se possível, até mesmo simplificará o cálculo inteiro para um único número — por exemplo, `clamp(0px, 30px, 20px)` retornará `20px`.

<% heads_up do %>
  Isto significa que uma expressão de cálculo não retornarão sempre necessariamente um cálculo! Se estiveres a escrever uma biblioteca de Sass, podes sempre usar a função [`meta.type-of()`] para determinar com qual tipo estás a lidar.

  [`meta.type-of()`]: ../modules/meta#type-of
<% end %>

Os cálculos também serão simplificados dentro de outros cálculos. Em especial, se um `calc()` termina dentro de qualquer cálculo, a chamada de função será removida e será substituída por uma operação anterior simples:

<% example do %>
  $width: calc(400px + 10%);

  .sidebar {
    width: $width;
    padding-left: calc($width / 4);
  }
  ===
  $width: calc(400px + 10%)

  .sidebar
    width: $width
    padding-left: calc($width / 4)
  ==
  .sidebar {
    width: calc(400px + 10%);
    padding-left: calc((400px + 10%) / 4);
  }
<% end %>

<span id="operations"></span>
## Operações

Tu não podes usar os cálculos com opções de SassScript normais como `+` e `*`. Se quiseres escrever algumas funções matemáticas que permitam cálculos apenas as escreva dentro sua própria expressões de `calc()` — Se forem passada uma mão-cheia de números com unidades compatíveis, retornarão números simples também, e se forem passados cálculos retornarão cálculos.

Esta restrição está no lugar para certificar-se que se os cálculos *não forem* desejados, lançam um erro o mesmo cedo possível. Os cálculos não podem ser usados em toda parte que os números simples podem: eles não podem ser injetados para os identificadores de CSS (tais como `.item-#{$n}`), por exemplo, não podem ser passados para as [funções matemáticas][math functions] embutidas da Sass. Reservar operações de SassScript para números simples esclarece exatamente onde os cálculos são permitidos e onde não são:

[math functions]: ../modules/math

<% example(autogen_css: false) do %>
  $width: calc(100% + 10px);
  @debug $width * 2; // Error!
  @debug calc($width * 2); // calc((100% + 10px) * 2);
  ===
  $width: calc(100% + 10px);
  @debug $width * 2; // Error!
  @debug calc($width * 2); // calc((100% + 10px) * 2);
<% end %>

## `min()` e `max()`

<% impl_status dart: ">=1.11.0 <1.42.0", libsass: false, ruby: false, feature: "Sintaxe de Função Especial" do %>
  A LibSass, Sass de Ruby, e verões de Sass de Dart anteriores a 1.11.0 *sempre* analisam `min()` e `max()` como funções de Sass. Para criares uma chamada `min()` ou `max()` de CSS simples para estas implementações, podes escrever algo como `unquote("min(#{$padding}, env(safe-area-inset-left))")`.

  As versões da Sass de Dart entre 1.11.0 e 1.40.0, e entre 1.40.1 e 1.42.0 analisam as funções `min()` e `max()` como [funções especiais][special functions] se forem CSS simples válidos, mas as analisa como funções de Sass se conterem funcionalidades de Sass para além da interpolação, como variáveis ou chamadas de função.

  A Sass de Dart 1.41.0 analisa as funções `min()` e `max()` como cálculos, mas não permite que números sem unidade sejam combinados com números com unidades. Isto foi retro-incompatível com as funções `min()` e `max()` globais, assim este comportamento foi revertido.

  [special functions]: ../syntax/special-functions
<% end %>

A CSS adicionou suporte para as [funções `min()` e `max()`] no Nível 4 de Valores e Unidades, de onde foram rapidamente adotados pelo Safari [para suportar o iPhoneX][to support the iPhoneX]. Mas a Sass suportava suas próprias funções [`min()`] e [`max()`] muito antes disto, e precisava de ser retro-compatível com todas aquelas folhas de estilos existentes. Isto conduz para a necessidade de inteligência sintática muito especial.

[`min()` and `max()` functions]: https://drafts.csswg.org/css-values-4/#calc-notation
[to support the iPhoneX]: https://webkit.org/blog/7929/designing-websites-for-iphone-x/
[`min()`]: ../modules/math#min
[`max()`]: ../modules/math#max

Se uma chamada de função `min()` e `max()` é uma expressão de cálculo válida, será analisada como um cálculo. Mas logo que qualquer parte da chama conter uma funcionalidade de SassScript que não é suportado num cálculo, como o [operador modulo], é analisada como uma chamada para função `min()` ou `max()` principal.

Já que cálculos são simplificados aos números quando possível de qualquer modo, a única diferença de substantivo é que as funções de Sass apenas suportam unidades que podem ser combinadas em tempo de construção, assim `min(12px % 10, 10%)` lançarão um erro.

[modulo operator]: ../operators/numeric

<% heads_up do %>
  Outros cálculos não permitem que números sem unidades sejam adicionados a, subtraídos de, ou comparados aos números com as unidades. `min()` e `max()` são diferentes: para retro-compatibilidade com as funções `min()` e `max()` de Sass globais que permitem unidade/sem unidade misturando por razões históricas, estas unidades podem ser misturada enquanto são contidos diretamente dentro dum cálculo de `min()` ou `max()`.
<% end %>

<!-- TODO(nweiz): auto-generate this CSS once we're compiling with Dart Sass -->

<% example do %>
  $padding: 12px;

  .post {
    // Já que estas chamadas max() são expressões de cálculos válidos,
    // são analisados como cálculos.
    padding-left: max($padding, env(safe-area-inset-left));
    padding-right: max($padding, env(safe-area-inset-right));
  }

  .sidebar {
    // Já que estes usam o operador modulo exclusivo de SassScript,
    // são analisados como chamadas da função de SassScript.
    padding-left: max($padding % 10, 20px);
    padding-right: max($padding % 10, 20px);
  }
  ===
  $padding: 12px

  .post
    // Já que estas chamadas max() são expressões de cálculos válidos,
    // são analisados como cálculos.
    padding-left: max($padding, env(safe-area-inset-left))
    padding-right: max($padding, env(safe-area-inset-right))


  .sidebar
    // Já que estes usam o operador modulo exclusivo de SassScript,
    // são analisados como chamadas da função de SassScript.
    padding-left: max($padding % 10, 20px)
    padding-right: max($padding % 10, 20px)
  ===
  .post {
    padding-left: max(12px, env(safe-area-inset-left));
    padding-right: max(12px, env(safe-area-inset-right));
  }

  .sidebar {
    padding-left: 20px;
    padding-right: 20px;
  }
<% end %>
