= wrap_layout :has_navigation do
  = yield

  - content_for :navigation do
    %nav.sl-c-list-navigation-wrapper
      :markdown
        ### [Guia de Estilo](/styleguide)

        - [Marca](/styleguide/brand)
        - [Cor](/styleguide/color)
        - [Tipografia](/styleguide/typography)
        - [Disposição](/styleguide/layout)
        - [Componentes](/styleguide/components)
        - [Código](/styleguide/code)
