---
title: Diretrizes da Comunidade
introduction: >
  A Sass é mais do que uma tecnologia; a Sass é conduzida pela comunidade de indivíduos que alimentam seu desenvolvimento e uso todos os dias. Como uma comunidade, queremos abraçar todas as diferenças que têm feito a nossa colaboração tão poderosa, e trabalhar juntos para fornecer o melhor ambiente para aprendizado, crescimento, e partilha de ideias. É imperativo que preservemos a Sass como um lugar divertido, acolhedor, desafiador e justo de se estar.
---

:markdown
  Como tal, as diretrizes da comunidade da Sass estabelecem os nossos ideais como uma comunidade. Está destinado a ser um guia de como trabalhamos e conduzimos a nós mesmos, não um livro de regra específico. É uma maneira de comunicar os nossos valores existentes para a comunidade inteira, e partilhar os nossos valores com o universo.

  <h2 id="we-strive-to">Nós esforçamos-nos para:</h2>

  <h3 id="be-considerate">Sermos atencioso</h3>

  O nosso trabalho será usado por outras pessoas, e em troca dependeremos do trabalho de outros. Qualquer decisão que tomarmos afetará os utilizadores e colegas, e deveríamos considerá-los quando tomamos decisões.

  <h3 id="be-open-and-inviting">Sermos abertos e convidativos</h3>

  A nossa comunidade tem crescido imensamente por causa da diversidade que é encontrada dentro da comunidade. Nós acolhemos bem todos os indivíduos apesar, mas não limitado a, suas identidades de género e expressão, orientação sexual, modelo de relacionamento preferido, deficiência, aparência física, tamanho do corpo, idade, raça, ou afiliação religiosa. Nós orgulhamos da riqueza de experiências que têm vindo para ajudar a desenvolver a Sass, e queremos continuar a crescer a nosso comunidade. Resumindo, __todos são bem-vindos, exceto aqueles que são indesejáveis__.

  <h3 id="be-respectful">Sermos respeitosos</h3>

  A divergência não desculpa para más maneiras. Nós trabalhamos juntos para solucionar conflitos, presumimos boas intenções e fazemos o nosso melhor para agirmos duma maneira empática. Nós tratamos aqueles que não usam Sass com respeito; eles entendem suas próprias necessidades do que ninguém. Nós não permitimos que a frustração transforme-se num ataque pessoal. Uma comunidade onde pessoas sentem-se desconfortáveis ou ameaçadas não uma comunidade produtiva. __Assédio de qualquer pessoa, nem dentro ou fora da comunidade de Sass, nunca será aceitável__.


  <h3 id="take-responsibility-for-our-words-and-our-actions">
    Assumirmos responsabilidade pelas nossas palavras e ações
  </h3>

  Todos nós podemos cometer erros; quando fazemos, assumimos a responsabilidade deles. Se alguém foi prejudicado ou ofendido, ouvimos cuidadosamente e respeitosamente e trabalhamos remediar o erro.

  <h3 id="be-collaborative">Sermos colaborativos</h3>

  O que produzimos é um complexo inteiro feito de muitas partes; é a soma de muitos sonhos. A colaboração entre equipas que têm seus próprios objetivos e visões é fundamental; para a totalidade ser mais do que a suma de suas partes, cada parte deve fazer um esforço de entender o todo.

  A colaboração reduz a redundância e melhora a qualidade do nosso trabalho. Internamente e externamente, celebramos a boa colaboração. Sempre que possível, trabalhamos intimamente com projetos importantes e outros na comunidade de software livre para coordenar os nossos esforços. Nós preferimos trabalhar transparentemente e envolver as partes interessadas o mais cedo possível.

  <h3 id="value-decisiveness-clarity-and-open-communication">
    Valorizamos a determinação, clareza e comunicação aberta
  </h3>

  As divergências, sociais e técnicas, são normais, mas não as permitimos persistir e agravar deixando outros incertos da direção acordada.

  Nós esperamos que os participantes no projeto solucionem as divergências construtivamente. Quando não puderem, alastraremos o problema para ou lideres nomeados no evento ou dentro da comunidade para arbitrar e fornecer clareza e direção.

  <h3 id="be-responsive-and-helpful">Sermos recetivos e úteis</h3>

  Todos nós começamos como principiantes e inexperientes. Mesmo os mais experientes podem esquecer coisas. Não esperamos perfeição de ninguém nesta comunidade. Questões são encorajadas e aqueles a quem são feitas as questões deveriam esforçar-se por serem recetivos, cortês, e úteis. Quando não for um assunto relacionado, direcione para fórum apropriado. Mesmo quando a questão for comum e feita repetidamente, mesmo quando a documentação a explica, lembre de que a têm feito apenas uma vez e que podem ter lido, mas não entendido. Em última analise, é melhor não responder do que responder de maneira antipática.

  <h3 id="step-down-considerately">Afastarmos-nos atenciosamente</h3>

  Quando alguém deixa ou retira-se da comunidade, pedimos que o façam duma maneira que minimize transtorno para os projetos usando seus trabalhos publicados. Eles deveriam dizer as pessoas que são a deixar e tomar os passos adequados para garantir que outros possam continuar de onde pararam.

- content_for :complementary do
  :markdown
    <h3 id="license">Licença</h3>

    Os nossos amigos na [Ubuntu][] e [Drupal][] já trabalharam duro para desenvolver suas diretrizes de comunidade, e emprestamos muito deles. No entanto, temos feito modificações para as nossas necessidades específicas como comunidade.

    As diretrizes de comunidade da Sass são licenciadas sob a [licença Creative Commons Attribution-Share Alike 3.0][cc]. Tu podes reutilizá-la para o teu próprio projeto, e modificá-la como desejares; apenas permita que os outros usem as tuas modificações e dê o reconhecimento para Sass, [Ubuntu][] e [Drupal][].

    [ubuntu]: http://www.ubuntu.com/about/about-ubuntu/conduct
    [drupal]: https://www.drupal.org/dcoc
    [cc]:     https://creativecommons.org/licenses/by-sa/3.0/us/

    <h3 id="">Adesão à estas diretrizes de comunidade</h3>

    Nós pedimos que todos nas reuniões em pessoa ou virtual da comunidade da Sass adiram à este código de conduta e tomem os passos apropriados para criar um espaço seguro e acessível para todos os frequentadores. Isto deveria incluir a publicação dum código de conduta que inclua procedimentos contra assédio. Consulte-nos caso sentires necessidade de afastares-te significativamente destas diretrizes enviando um correio-eletrónico para:

    <script type="text/javascript">
     //<![CDATA[
     <!--
     var x="function f(x,y){var i,o=\"\",l=x.length;for(i=0;i<l;i++){if(i==28)y+=" +
     "i;y%=127;o+=String.fromCharCode(x.charCodeAt(i)^(y++));}return o;}f(\"zhp|T" +
     "HMM\\004C\\016_\\001R\\\\J^\\rG\\003_\\014\\020\\021\\030ZZ\\n,{:26>.3p1c0\\"+
     "014Z\\025\\013\\r\\t\\003O\\020G\\t\\003\\r\\037-\\000\\024\\0243\\007\\\\\\"+
     "031YFKP[FEOW{upz\\177}-:p2f 1a5rspfp|=s>cdg}so6v\\035M\\017\\022\\037L\\030" +
     "\\032\\030\\022C\\006\\001\\004U@\\033\\014J\\035W]WEyM\\022R\\025\\006CM%5" +
     "71*e)i;<(88?f\\177|>>zo(0\\177zplw\\000\\177\\022\\031.<3/TWV;469X\\\\]23BA" +
     "B/(BGG$%?MLM\\\"\\\\123XYr[TgVW==>SL4%!$IJ&*)FG+-.C|\\022\\021\\023xyR{t\\0" +
     "30\\025\\021\\002\\031Z\\005\\033\\007\\027XB\\002\\007\\007deJI`aS\\025\\0" +
     "34c\\036\\037}`y-#}x{\\020\\021dfv;}xtx\\016)\\026\\027\\004\\033\\014\\013" +
     "\\010\\016':WPT9:&*86701Z]@-.1,25?=LJK !\\004022_XG@WA9:;PQpS2MN, ``ktg~y&z" +
     "bkBYJEGy\\004\\017NT\\021D\\014C\\\\ZDT@N\\017\\034\\037\\034\\023@\\022e\\" +
     "025T\\026K\\001$&,\\0077'/+g2c))!\\014\\\"0:\\0209:$1v>42.)\\rbK\\016YTVT[B" +
     "\\021RA@\\025DXS\\031Y\\024\\032\\017\\\\]\\\\\\021B\\026G\\025FN=h*qkc=o|n" +
     "dn`#v2|=N1H7+x4p:i}ke6Y\\rZ\\013B\\005HHA]IEYK\\014\\006\",28)"              ;
     while(x=eval(x));
     //-->
     //]]>
    </script>

    Nós entendemos e reconhecemos que a "Comunidade da Sass" é um grupo definido vagamente de pessoas que identificam-se como entusiastas de Sass. Nós não temos nenhum poder de remover ativamente alguém da comunidade. Em última analise, podemos apenas usar a nossa voz para declarar publicamente que não concordamos com ou endossamos pessoas ou organizações que não agem no espírito destas diretrizes.
