---
title: "#teamSass"
introduction: >
  A Sass tem uma comunidade extraordinária de desenhistas e programadores que amam espalhar a palavra e dar uma mão as pessoas. Colecionamos nesta seção alguns recursos. Boa Estilização!
---

:markdown
  __Todos são bem-vindos na comunidade da Sass, exceto aqueles são indesejáveis__. Leia e siga as nossas [diretrizes de comunidade](/community-guidelines).

  Pensas em __contribuir__ em favor da Sass? Nós contamos com todos para manter a Sass o mais estável possível. Estás a vontade para [submeter um remendo através de um pedido de atualização do ramo principal do repositório](#Contribute) para o projeto da Sass.

  Queres criar a tua própria implementação de Sass? Consulte as nossas [diretrizes de implementação](/implementation).

%h2#Contribute Contribuir

:markdown

  A Sass é um [projeto de código-aberto][github] e encorajamos-te a contribuir. Tu podes contribuir com [relatórios de erro de programação e requisições de funcionalidade][issues], e se contribuíres com código, amaremos-te para sempre. Se apenas quiseres ajudar mas não tens a certeza do que fazer, consulte o rótulo "Help Wanted" para [a linguagem de Sass][lang help] ou para [Sass de Dart][dart help]. Estes problemas são uma mistura de requisições de funcionalidade, erros de programação, e tarefas que não são intensivas de codificação que os programadores pensam serem uma bom lugar para alguém novo para a base de código envolver-se.

  [github]: https://github.com/sass/sass
  [issues]: https://github.com/sass/sass/issues
  [lang help]: https://github.com/sass/sass/labels/Help%20Wanted
  [dart help]: https://github.com/sass/dart-sass/labels/help%20wanted

  A [Sass de Dart][Dart Sass] é a implementação de referência de Sass, e a implementação mais fácil de começar a explorar. Se não sabes Dart, não te preocupes! É muito fácil de aprender. Consulte a [informação de contribuição][contributing info] por mais informação sobre como ajudar. Ou, se estiveres interessado em ajudar a adicionar novas funcionalidades a linguagem de Sass, consulte [o processo de contribuição da linguagem][the language contribution process].

  [Dart Sass]: /dart-sass
  [contributing info]: https://github.com/sass/dart-sass/blob/master/CONTRIBUTING.md
  [the language contribution process]: https://github.com/sass/language/blob/master/CONTRIBUTING.md

- content_for :complementary do
  %nav.sl-c-list-navigation-wrapper(aria-label='Recursos')
    :markdown
      <h2 id="resources">Recursos</h2>

      <h3 id="jump-start-sass">
        [Jump Start Sass](https://amzn.to/2LKF0uR) por Hugo Giraudel e Miriam Suzanne
      </h3>

      <h3 id="pragmatic-guide-to-sass-3">
        [Pragmatic Guide to Sass 3: Tame the Modern Style Sheet](https://amzn.to/2LEwXiZ) por Hampton Lintorn Catlin e Michael Lintorn Catlin
      </h3>

      <h3 id="sass-for-web-designers>
        [Sass for Web Designers](https://amzn.to/2RkIVU3) por Dan Cederholm
      </h3>

      <h3 id="sass-and-compass-in-action">
        [Sass and Compass in Action](https://amzn.to/2RjAQz7) por Wynn Netherland, Natalie Weizenbaum, Chris Eppstein, Brandon Mathis
      </h3>
