---
layout: has_no_sidebars
title: Folhas de Estilo Sintaticamente Incríveis
h1: CSS com super poderes
no_container: true
is_home: true
eleventyComputed:
  section_bottom:
    - header: Compatível com a CSS
      body: >
        A Sass é completamente compatível com todas as versões da CSS. Nós levamos esta compatibilidade a sério, para que possas perfeitamente usar quaisquer bibliotecas de CSS disponíveis.
    - header: Cheia de Funcionalidades
      body: >
        A Sass ostenta mais funcionalidades e habilidades do que qualquer outra linguagem de extensão de CSS por aí. A Equipa Principal da Sass tem trabalhado interminavelmente para não apenas continuar, mas continuar à frente.
    - header: Madura
      body: >
        A Sass tem sido ativamente mantida por {{ 'Tue Nov 28 19:43:58 2006 +0000' | formatDistanceToNow }} por sua carinhosa Equipa Principal.
    - header: Aprovada Pela Indústria
      body: >
        Vezes sem conta, a indústria está escolhendo a Sass como a melhor linguagem de extensão de CSS.
    - header: Uma Grande Comunidade
      body: >
        A Sass é ativamente mantida e desenvolvida por um consórcio de várias empresas de tecnologia e centenas de programadores.
    - header: Abstrações
      body: >
        Existem um número interminável de abstrações construídas com a Sass. [Bootstrap](https://getbootstrap.com/), [Bourbon](http://bourbon.io/), e [Susy](http://susy.oddbird.net/) apenas para nomear algumas.
---

<div class="sl-l-grid sl-l-grid--full sl-l-large-grid--fit sl-l-large-grid--center sl-l-large-grid--gutters-large">
  <div class="sl-l-grid__column">
    <p class="sl-c-introduction">
      A Sass é a mais madura, estável e poderosa linguagem de extensão de CSS de nível profissional no mundo.
    </p>
  </div>
  <p class="sl-l-grid__column">
    <img
      height="160"
      alt="Óculos"
      src="/assets/img/illustrations/glasses.svg">
  </p>
</div>
