---
title: Folhas de Estilo Sintaticamente Incríveis
h1: CSS com super poderes
no_container: true
---


.sl-l-grid.sl-l-grid--full.sl-l-large-grid--fit.sl-l-large-grid--center.sl-l-large-grid--gutters-large
  .sl-l-grid__column
    %p.sl-c-introduction
      Sass é a mais madura, estável e poderosa linguagem de extensão de CSS de nível profissional no mundo.

  %p.sl-l-grid__column
    = image_tag 'illustrations/glasses.svg', height: '160', alt: 'Glasses'

- content_for :section_bottom do
  %ul.sl-l-grid.sl-l-grid--full.sl-l-medium-grid--gutters-large.sl-l-medium-grid--divide-by-2.sl-l-large-grid--divide-by-3.sl-l-section
    %li.sl-l-grid__column
      :markdown
        ## Compatível com a CSS

        A Sass é completamente compatível com todas as versões da CSS. Nós levamos esta compatibilidade a sério, para que possas perfeitamente usar quaisquer bibliotecas de CSS disponíveis.

    %li.sl-l-grid__column
      :markdown
        ## Rica em Funcionalidade

        A Sass ostenta mais funcionalidades e habilidades do que qualquer outra linguagem de extensão de CSS por aí. A Equipa Principal da Sass tem trabalhado interminavelmente para não apenas continuar, mas continuar à frente.

    %li.sl-l-grid__column
      %h2 Madura

      %p
        A Sass tem sido ativamente sustentada por
        = time_ago_in_words DateTime.parse('Tue Nov 28 19:43:58 2006 +0000')
        por sua carinhosa Equipa Principal.

    %li.sl-l-grid__column
      :markdown
        ## Aprovada Pela Indústria

        Vezes sem conta, a indústria está escolhendo a Sass como a melhor linguagem de extensão de CSS.

    %li.sl-l-grid__column
      :markdown
        ## Grande Comunidade

        A Sass é ativamente sustentada e desenvolvida por um consórcio de várias empresas de tecnologia e centenas de programadores.

    %li.sl-l-grid__column
      :markdown
        ## Abstrações

        Existem um número interminável de abstrações construídas com a Sass.
        [Bootstrap](https://getbootstrap.com/), [Bourbon](http://bourbon.io/), e [Susy](http://susy.oddbird.net/) apenas para nomear algumas.
